; PREFERENCES WEBMASTER

; ce fichier permet au wenmaster de spécifier 
; - les valeurs par défaut des options dans la section [options] 
; - des jeux d'options en créeant une nouvelle section 
; - de saisir des données spécifiques (clé) à une action. voir doc de l'action concernée 

; Cas particulier : annulation des valeurs précédentes
; pour une valeur texte ou numérique : laisser vide
; pour une valeur logique : saisir 1 ou 0

; ATTENTION : mettre entre guillemets doubles si caractères spéciaux. Doubler des doubles guillemets pour les utiliser

[options]
prefix='icon-'  ; pour icomoon ou 'fa fa-' pour font-awesome

[icons]
; unicode
etoile=Ux2b50,24px  
smiley=Ux1F600
un=Ux2776
deux=Ux2777
trois=Ux2778
quatre=Ux2779
cinq=Ux277A
six=Ux277B
sept=Ux277C
huit=Ux277D
neuf=Ux277E
info2=Ux1F6C8,steelblue
fleche=Ux27A7,green
fleche-2=Ux279C,green
; fonticon
param=cog,steelblue,24px
; images
france=plugins/content/up/assets/img/france.png,2rem
belgique=plugins/content/up/assets/img/belgique.png,2rem
canada=plugins/content/up/assets/img/canada.png,2rem
gb=plugins/content/up/assets/img/gb.png,2rem
usa=plugins/content/up/assets/img/usa.png,2rem
note=plugins/content/up/assets/img/ico-crayon.png,20px
idee=plugins/content/up/assets/img/ico-idee.png,20px
vrai=plugins/content/up/assets/img/ico-vrai.png,20px
faux=plugins/content/up/assets/img/ico-faux.png,20px
info=plugins/content/up/assets/img/ico-info.png,20px
danger=plugins/content/up/assets/img/ico-danger.png,20px
