// === UP-BOX - CHIP
// template: ##image## ##title##

// référence aux préférences générales de UP
// si version dans sous-dossier 'custom', ajouter '../' au début du chemin
@import "../../../assets/custom/variables";
@import "../../../assets/scss/variables";

// variables - synthèse locale
$box_bg:$grisPale;

.up-box-chip { 
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: $box_bg;
    margin:5px;
    .up-box-image {
        float: left;
        margin: 0 10px 0 -25px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }  
}

