// === Note
// template par defaut

// référence aux préférences générales de UP
// si version dans sous-dossier 'custom', ajouter '../' au début du chemin
@import "../../../assets/custom/variables";
@import "../../../assets/scss/variables";

$jauneNote : #FEED69;
$fondSite : #FFF;

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

.up-box-note {
    display: block;
    position: relative;
    background: $jauneNote;
    margin: 0 0 10px 0; 
    padding: 10px;
    font-family: 'Caveat', cursive;
    font-size:1.2rem;
    box-shadow:$shadow-bottom;
    &:before{    
        content: "";
        position: absolute;
        right: 0;
        top:0;
        border-color: $fondSite $fondSite darken($jauneNote,25) darken($jauneNote,25);
        border-style: solid;
        border-width: 20px;
    }
    .up-box-head {
        width:90%;
        border-bottom: 2px outset #9999;
        margin-bottom:10px;
    }
    .up-box-title {
        font-size:2rem;
        font-weight:bold;
    }
    .up-box-image {
        float:right;
        margin-top:10px;
    }
    .up-box-action {
        text-align:right;
    }
}