// === UP-BOX - ONIMAGE
// template :
// ##image-css## ##head## ##title-link## ##subtitle## ##/head## ##content## ##action-link##

// référence aux préférences générales de UP
// si version dans sous-dossier 'custom', ajouter '../' au début du chemin
@import "../../../assets/custom/variables";
@import "../../../assets/scss/variables";

// variables - synthèse locale
$title_bg: $orange;
$title_text: $rougeFonce;
$title_text_hover: lighten($rougeFonce, 10);
$content_bg: #eeed;
$action_bg: $rougeFonce;
$action_text: #fff;
$action_border: 1px $gris solid;

.up-box-onimage-card {
    display: flex; 
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    border: 1px transparent solid;
    text-align: center;

    .up-box-head {
        display: inline-block;
        width: 100%;
        padding: 10px;
        background-color: $title_bg;
        margin: 0;
    }

    .up-box-title {
        font-size: 2rem;
        font-weight: bold;
        color: $title_text;
        margin:0;

        a {
            color: $title_text;

            &:hover {
                color: $title_text_hover;
            }
        }
    }

    .up-box-subtitle {
        font-size: 1rem;
    }

    .up-box-image {
        width: 100%;
    }

    .up-box-body {
        display: inline-block;
        max-width: 90%;
        margin: 10px 0;
        padding: 10px;
        background-color: #eeed;
        text-align: justify;

        // supprime marge des blocs début et fin
        > :first-child {
            margin-top: 0
        }

        > :last-child {
            margin-bottom: 0
        }
    }

    .up-box-action a {
        display: inline-block;
        background: $action_bg;
        color: $action_text;
        border: $action_border;
        padding: 10px;
        margin: 10px 0;
    }
}