/* FLEXGRID */
*,
*::before,
*::after {
  box-sizing: border-box; }

.fg-row {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  list-style: none;
  padding: 0; }

.fg-gap {
  margin-left: -0.5rem;
  margin-right: -0.5rem; }

.fg-center {
  justify-content: center; }

.fg-start {
  justify-content: flex-start; }

.fg-end {
  justify-content: flex-end; }

.fg-between,
.fg-entre {
  justify-content: space-between; }

.fg-around,
.fg-autour {
  justify-content: space-around; }

.fg-vtop {
  align-items: flex-start; }

.fg-vbottom {
  align-items: flex-end; }

.fg-vcenter {
  align-items: center; }

.fg-vfill {
  align-items: stretch; }

.fg-child-vcenter > * {
  display: flex;
  align-items: center; }

.fg-child-center > * {
  display: flex;
  justify-content: center; }

.fg-gap > * {
  margin: 0.5rem; }

.fg-row.fg-auto-1 > * {
  width: calc(100%/1); }

.fg-gap.fg-auto-1 > * {
  width: calc(100%/1 - 1rem); }

.fg-row.fg-auto-2 > * {
  width: calc(100%/2); }

.fg-gap.fg-auto-2 > * {
  width: calc(100%/2 - 1rem); }

.fg-row.fg-auto-3 > * {
  width: calc(100%/3); }

.fg-gap.fg-auto-3 > * {
  width: calc(100%/3 - 1rem); }

.fg-row.fg-auto-4 > * {
  width: calc(100%/4); }

.fg-gap.fg-auto-4 > * {
  width: calc(100%/4 - 1rem); }

.fg-row.fg-auto-5 > * {
  width: calc(100%/5); }

.fg-gap.fg-auto-5 > * {
  width: calc(100%/5 - 1rem); }

.fg-row.fg-auto-6 > * {
  width: calc(100%/6); }

.fg-gap.fg-auto-6 > * {
  width: calc(100%/6 - 1rem); }

.fg-c0 {
  display: none; }

[class*="fg-c"],
.fg-auto {
  flex: 0 1 auto; }

.fg-row > .fg-c1 {
  width: calc(100%/12*1); }

.fg-gap > .fg-c1 {
  width: calc(100%/12*1 - 1rem); }

.fg-row > .fg-c2 {
  width: calc(100%/12*2); }

.fg-gap > .fg-c2 {
  width: calc(100%/12*2 - 1rem); }

.fg-row > .fg-c3 {
  width: calc(100%/12*3); }

.fg-gap > .fg-c3 {
  width: calc(100%/12*3 - 1rem); }

.fg-row > .fg-c4 {
  width: calc(100%/12*4); }

.fg-gap > .fg-c4 {
  width: calc(100%/12*4 - 1rem); }

.fg-row > .fg-c5 {
  width: calc(100%/12*5); }

.fg-gap > .fg-c5 {
  width: calc(100%/12*5 - 1rem); }

.fg-row > .fg-c6 {
  width: calc(100%/12*6); }

.fg-gap > .fg-c6 {
  width: calc(100%/12*6 - 1rem); }

.fg-row > .fg-c7 {
  width: calc(100%/12*7); }

.fg-gap > .fg-c7 {
  width: calc(100%/12*7 - 1rem); }

.fg-row > .fg-c8 {
  width: calc(100%/12*8); }

.fg-gap > .fg-c8 {
  width: calc(100%/12*8 - 1rem); }

.fg-row > .fg-c9 {
  width: calc(100%/12*9); }

.fg-gap > .fg-c9 {
  width: calc(100%/12*9 - 1rem); }

.fg-row > .fg-c10 {
  width: calc(100%/12*10); }

.fg-gap > .fg-c10 {
  width: calc(100%/12*10 - 1rem); }

.fg-row > .fg-c11 {
  width: calc(100%/12*11); }

.fg-gap > .fg-c11 {
  width: calc(100%/12*11 - 1rem); }

.fg-row > .fg-c12 {
  width: calc(100%/12*12); }

.fg-gap > .fg-c12 {
  width: calc(100%/12*12 - 1rem); }

.fg-ord-1 {
  order: -6; }

.fg-ord-2 {
  order: -5; }

.fg-ord-3 {
  order: -4; }

.fg-ord-4 {
  order: -3; }

.fg-ord-5 {
  order: -2; }

.fg-ord-6 {
  order: -1; }

.fg-reverse {
  flex-direction: row-reverse; }

.fg-grow > * {
  flex-grow: 1; }

@media all and (max-width: 480px) {
  .fg-row > [class*="fg-c"] {
    width: 100%; }

  .fg-row.fg-auto-s1 > * {
    width: calc(100%/1); }

  .fg-gap.fg-auto-s1 > * {
    width: calc(100%/1 - 1rem); }

  .fg-row.fg-auto-s2 > * {
    width: calc(100%/2); }

  .fg-gap.fg-auto-s2 > * {
    width: calc(100%/2 - 1rem); }

  .fg-row.fg-auto-s3 > * {
    width: calc(100%/3); }

  .fg-gap.fg-auto-s3 > * {
    width: calc(100%/3 - 1rem); }

  .fg-cs0 {
    display: none; }

  [class*="fg-cs"],
  .fg-sauto {
    flex: 0 1 auto; }

  .fg-row > .fg-cs1 {
    width: calc(100%/12*1); }

  .fg-gap > .fg-cs1 {
    width: calc(100%/12*1 - 1rem); }

  .fg-row > .fg-cs2 {
    width: calc(100%/12*2); }

  .fg-gap > .fg-cs2 {
    width: calc(100%/12*2 - 1rem); }

  .fg-row > .fg-cs3 {
    width: calc(100%/12*3); }

  .fg-gap > .fg-cs3 {
    width: calc(100%/12*3 - 1rem); }

  .fg-row > .fg-cs4 {
    width: calc(100%/12*4); }

  .fg-gap > .fg-cs4 {
    width: calc(100%/12*4 - 1rem); }

  .fg-row > .fg-cs5 {
    width: calc(100%/12*5); }

  .fg-gap > .fg-cs5 {
    width: calc(100%/12*5 - 1rem); }

  .fg-row > .fg-cs6 {
    width: calc(100%/12*6); }

  .fg-gap > .fg-cs6 {
    width: calc(100%/12*6 - 1rem); }

  .fg-row > .fg-cs7 {
    width: calc(100%/12*7); }

  .fg-gap > .fg-cs7 {
    width: calc(100%/12*7 - 1rem); }

  .fg-row > .fg-cs8 {
    width: calc(100%/12*8); }

  .fg-gap > .fg-cs8 {
    width: calc(100%/12*8 - 1rem); }

  .fg-row > .fg-cs9 {
    width: calc(100%/12*9); }

  .fg-gap > .fg-cs9 {
    width: calc(100%/12*9 - 1rem); }

  .fg-row > .fg-cs10 {
    width: calc(100%/12*10); }

  .fg-gap > .fg-cs10 {
    width: calc(100%/12*10 - 1rem); }

  .fg-row > .fg-cs11 {
    width: calc(100%/12*11); }

  .fg-gap > .fg-cs11 {
    width: calc(100%/12*11 - 1rem); }

  .fg-row > .fg-cs12 {
    width: calc(100%/12*12); }

  .fg-gap > .fg-cs12 {
    width: calc(100%/12*12 - 1rem); }

  .fg-ord-s1 {
    order: -6; }

  .fg-ord-s2 {
    order: -5; }

  .fg-ord-s3 {
    order: -4; }

  .fg-ord-s4 {
    order: -3; }

  .fg-ord-s5 {
    order: -2; }

  .fg-ord-s6 {
    order: -1; }

  .fg-sreverse {
    flex-direction: row-reverse; } }
@media all and (min-width: 480px) and (max-width: 760px) {
  .fg-row.fg-auto-m1 > * {
    width: calc(100%/1); }

  .fg-gap.fg-auto-m1 > * {
    width: calc(100%/1 - 1rem); }

  .fg-row.fg-auto-m2 > * {
    width: calc(100%/2); }

  .fg-gap.fg-auto-m2 > * {
    width: calc(100%/2 - 1rem); }

  .fg-row.fg-auto-m3 > * {
    width: calc(100%/3); }

  .fg-gap.fg-auto-m3 > * {
    width: calc(100%/3 - 1rem); }

  .fg-row.fg-auto-m4 > * {
    width: calc(100%/4); }

  .fg-gap.fg-auto-m4 > * {
    width: calc(100%/4 - 1rem); }

  .fg-row.fg-auto-m5 > * {
    width: calc(100%/5); }

  .fg-gap.fg-auto-m5 > * {
    width: calc(100%/5 - 1rem); }

  .fg-row.fg-auto-m6 > * {
    width: calc(100%/6); }

  .fg-gap.fg-auto-m6 > * {
    width: calc(100%/6 - 1rem); }

  .fg-cm0 {
    display: none; }

  [class*="fg-cm"],
  .fg-mauto {
    flex: 0 1 auto; }

  .fg-row > .fg-cm1 {
    width: calc(100%/12*1); }

  .fg-gap > .fg-cm1 {
    width: calc(100%/12*1 - 1rem); }

  .fg-row > .fg-cm2 {
    width: calc(100%/12*2); }

  .fg-gap > .fg-cm2 {
    width: calc(100%/12*2 - 1rem); }

  .fg-row > .fg-cm3 {
    width: calc(100%/12*3); }

  .fg-gap > .fg-cm3 {
    width: calc(100%/12*3 - 1rem); }

  .fg-row > .fg-cm4 {
    width: calc(100%/12*4); }

  .fg-gap > .fg-cm4 {
    width: calc(100%/12*4 - 1rem); }

  .fg-row > .fg-cm5 {
    width: calc(100%/12*5); }

  .fg-gap > .fg-cm5 {
    width: calc(100%/12*5 - 1rem); }

  .fg-row > .fg-cm6 {
    width: calc(100%/12*6); }

  .fg-gap > .fg-cm6 {
    width: calc(100%/12*6 - 1rem); }

  .fg-row > .fg-cm7 {
    width: calc(100%/12*7); }

  .fg-gap > .fg-cm7 {
    width: calc(100%/12*7 - 1rem); }

  .fg-row > .fg-cm8 {
    width: calc(100%/12*8); }

  .fg-gap > .fg-cm8 {
    width: calc(100%/12*8 - 1rem); }

  .fg-row > .fg-cm9 {
    width: calc(100%/12*9); }

  .fg-gap > .fg-cm9 {
    width: calc(100%/12*9 - 1rem); }

  .fg-row > .fg-cm10 {
    width: calc(100%/12*10); }

  .fg-gap > .fg-cm10 {
    width: calc(100%/12*10 - 1rem); }

  .fg-row > .fg-cm11 {
    width: calc(100%/12*11); }

  .fg-gap > .fg-cm11 {
    width: calc(100%/12*11 - 1rem); }

  .fg-row > .fg-cm12 {
    width: calc(100%/12*12); }

  .fg-gap > .fg-cm12 {
    width: calc(100%/12*12 - 1rem); }

  .fg-ord-m1 {
    order: -6; }

  .fg-ord-m2 {
    order: -5; }

  .fg-ord-m3 {
    order: -4; }

  .fg-ord-m4 {
    order: -3; }

  .fg-ord-m5 {
    order: -2; }

  .fg-ord-m6 {
    order: -1; }

  .fg-mreverse {
    flex-direction: row-reverse; } }
