Akeeba="Sauvegarde du site"
BACKUPONUPDATE = 0
AKEEBAUPDATECHECK = 0
AKEEBABACKUP = 0
akeebabackup = 0
CG Isotope="Pour la page DEMO. Filtrage dynamique des actions"
FlexiContactPlus="Formulaire de contact"
lmcustom="Module personnalisé. Accepte PHP, JS, CSS, ..."
aeSecure - Quick Icons=Sécurite - Parefeu
GTranslate="Traduction dynamique du site"
Dump="Outil pour développeur. Affiche la valeur des variables"
LM-MetaData="Affiche la liste des articles avec des indicateurs pour SEO"
LM-Zoom="Affiche automatiquement les images dans une lightbox"
scssCompiler="Compilateur SCSS multi-cible"
UP="Universal Plugin"
RokPad="Editeur en mode code"
emmet="Editeur en mode code avec générateur de balises"
switcher="Permet de passer d'un éditeur à un autre"
lmprism="Affichage de code avec coloration syntaxique et neutralisation des caractéres ambigüs"
Admin Order="Permet de définir et de mémoriser l'ordre de tri des tables"
JDump=0 ; déjà en composant
quickcachecleaning="bouton pour nettoyer le cache et débloquer les articles"
lazydbbackup="sauvegarde de la BD et envoi par mail"
OFFLINE="Accés au site offline sans se connecter."
metacharactercount="affiche le nombre de caractéres et de mots dans les éditeurs"
kickgdpr="Système d'acceptation des cookies et RGPD"
Helix Ultimate Framework=0
Helix Ultimate based template installer=0
OSMAP_JOOMLA=0 ; déjà en composant
OSMAP="Générateur de sitemap"
ossystem=0 ; Un plugin système qui supporte les extensions Joomlashack/Alledia