
//    IMPERATIF :
//    la premiere classe des selecteurs doit etre : lmmq-nomstyle

@import "../../../assets/custom/variables";
@import "../../../assets/scss/variables";

.lmmq-promo {
    .lmmq-out {
        border:$red 2px dotted;
        background-color:$lightYellow;
        border-radius: 99px;
    }

    .lmmq-lbl {
        background: transparent url(img/rond-rouge.gif) no-repeat center center;
        background-size:contain;
        min-width:20px;
        border-radius: 99px;
        margin:4px;
        color: $yellow;
    }
    .lmmq-msg {
        color:$blue;
    }
}
