// === Trombi
// https://la-cascade.io/css-shapes-une-introduction/

/*
subtitle-tag="small"
template="##image## ##title-tag## ##link## ##title-text## ##subtitle## ##/link## ##/title-tag## ##body## ##content## ##action-link## ##/body##"
*/
// référence aux préférences générales de UP
// si version dans sous-dossier 'custom', ajouter '../' au début du chemin
// @import "../../../assets/variables";
// @import "../../../assets/scss/variables";

$jaunePale: #ffd700;
$shadow-max: 0 3px 10px 2px rgba(0,0,0,0.4);

.up-box-trombi2 {
    display:block;
	margin:30px 0; /*compense rertrait image*/
    .up-box-image {
        width:100px; height:100px;
        border-radius:50%;
        float:left;
        clip-path: ellipse();
        shape-outside: ellipse();
        background:#aaa;
		margin:-15px 10px 0 0;
        padding:0;
        border: 3px #666 solid;
    }
    .up-box-title {
        font-weight:bolder;
        color:#666;
        a {color:#666;}
//        &:before{content:"\A0"}
    }
    .up-box-subtitle {
        display:block;
        &:before{content:"\A0"}
    }
    .up-box-body{
        margin-left:30px;
        padding:10px;
        border: 2px #666 solid;
        background:$jaunePale;
        box-shadow: $shadow-max;
        // supprime marge des blocs début et fin
        div > :first-child{margin-top:0}
        div > :last-child{margin-bottom:0}

    }
    .up-box-action {
        text-align:right;
    }
}